<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="/admin/css/font.css">
    <link rel="stylesheet" href="/admin/css/xadmin.css">
    <script type="text/javascript" src="/admin/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/admin/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid" id="app">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                </div>
                <div class="layui-card-header">
                    <div class="layui-card-header">
                        <button type="button" class="layui-btn layui-btn-warm" onclick="delAll()">
                            <a title="添加" onclick="xadmin.open('增加','/admin/studentAdd')" href="javascript:;">
                                <i class="layui-icon layui-icon-add-1"></i>增加</a>
                        </button>
                    </div>

                </div>
                <div class="layui-card-body ">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>姓名</th>
                            <th>手机</th>
                            <th>账号</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr v-for="(u,index) in userInof.user" :key="index">
                            <td>{{u.id}}</td>
                            <td>{{u.name}}</td>
                            <td>{{u.phone}}</td>
                            <td>{{u.account}}</td>
                            <td v-if="u.limits == 1" style="color: #00FF00">正常</td>
                            <td v-if="u.limits == 0" style="color: red">禁用</td>
                            <td class="td-status">
                                <button type="button" class="layui-btn layui-btn-normal">
                                    <a title="查看"  :href="`/aview/tttt?id=`+u.id">查看</a>
                                </button>
                                <button type="button" class="layui-btn layui-btn-danger" v-if="u.limits == 1">
                                <a title="禁用" @click="disabled(u.id,0)" href="javascript:void(0)">禁用</a>
                                </button>
                                <button type="button" class="layui-btn layui-btn-warm" v-if="u.limits == 0">
                                    <a title="禁用" @click="disabled(u.id,1)" href="javascript:void(0)">恢复</a>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/admin/js/jquery.min.js" ></script>
<script type="text/javascript" src="/admin/js/vue.min.js"></script>
<script type="text/javascript" src="/admin/js/axios.min.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            userInof: {

                "user": [
                    {
                        "id": 0,
                        "name": "",
                        "phone": "",
                        "accoutn": ""
                    }
                ]
            },

        },
        methods: {
            init() {
                axios.get(`/admin/getUserInfo`).then(response => {
                    console.log(response.data)
                    this.userInof = response.data;
                }).catch(err => {
                    console.log(err);
                    console.log(err.response.data);
                })
            },
            disabled(id,status){
                axios.get('/admin/disabled?status='+status+'&id='+id).then(res =>{
                    if (res.data == true){
                        parent.layer.closeAll();
                        parent.location.reload();
                    }

                }).cache(err =>{
                    console.log(err);
                })

            }
        },
        created() {
            this.init();
        },
    });
</script>
</html>