<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no" />
		<link rel="stylesheet" href="/css/reset.css" type="text/css"/>
		<link href="/css/my-indent.css" rel="stylesheet" type="text/css">
		<style>
			.goShopping{
				margin-top: 5px;
				display: inline-block;
				padding: 5px 15px;
				border-radius: 15px;
				background-color: #db70a8;
				color: white;
			}
			.not_data{
				color: #A3A3A3;
				margin-top: 30px;
			}
		</style>
		<title></title>
	</head>
	<body>
		<div class="zjzz-buylist-wear" id="app" v-cloak>

			<div class="zjzz-buylist-top">
				<a href="/view/myinfo" class="zjzz-buylist-t1"></a>
				<span class="zjzz-buylist-t2">我的订单</span>
				<span class="zjzz-buylist-t3">
					<span class="zjzz-buylist-t4"></span>
				</span>
			</div>
			</a>
			<div class="zjzz-buylist-top2">			
<!--				<a href="./my-indent-all.html" class="zjzz-buylist-tp1">-->
<!--					<i>全部</i>-->
				</a>
				<a href="/user/checkWaitPay" class="zjzz-buylist-tp1">
					<i class="zjzz-buylist-tp2">待付款</i>
					<span class="zjzz-buylist-tp3" v-if="orderWaitPay.orderData.waitPay>0">{{orderWaitPay.orderData.waitPay}}</span>
				</a>
				<a href="/user/checkwaitdeliver" class="zjzz-buylist-tp1">
					<i>待发货</i>
					<span class="zjzz-buylist-tp3" v-if="orderWaitPay.orderData.waitDeliver>0">{{orderWaitPay.orderData.waitDeliver}}</span>
				</a>
				<a href="/user/checkwaittake" class="zjzz-buylist-tp1">
					<i>待收货</i>
					<span class="zjzz-buylist-tp3" v-if="orderWaitPay.orderData.waitTake>0">{{orderWaitPay.orderData.waitTake}}</span>
				</a>
				<a href="/user/checkwaitcomment" class="zjzz-buylist-tp1">
					<i>待评价</i>
					<span class="zjzz-buylist-tp3" v-if="orderWaitPay.orderData.waitComment>0">{{orderWaitPay.orderData.waitComment}}</span>
				</a>
			</div>		
			<div class="zjzz-buylist-mid" >
<!--			<div class="zjzz-buylist-mid" v-if="message==''">-->
				<!--全部-->
				<div class="zjzz-buylist-m1">
					<div class="zjzz-buylist-goods1" v-for="(order,index) in orderWaitPay.food" :key="index">
<!--					<div class="zjzz-buylist-goods1" v-for="(order,index) in orderWaitPay" :key="index">-->
						<div class="zjzz-buylist-gtime">
							<span class="zjzz-buylist-gtime1">订单有效期为15分钟</span>
							<span class="zjzz-buylist-gtime2">待付款</span>
						</div>

						<div class="zjzz-buylist-det"  v-if="order.length>0" v-for="(food,k) in order" :key="k" >
							<a href="javaScript:void (0)"  @click="orderDetail(index)" class="zjzz-buylist-det">
								<img :src="food.image"/>
								<div class="zjzz-buylist-gdetail" >
								<span  class="zjzz-buylist-gtit1">{{food.title}}</span>
									<span class="zjzz-buylist-gmoney">
									<i class="zjzz-buylist-gm1">￥{{food.price}}</i>
									<i  class="zjzz-buylist-gm2">X{{food.num}}</i>
								</span>
								</div>
							</a>
						</div>

						<div class="zjzz-buylist-det"  v-if="orderWaitPay.food[index].title">
							<a href="javaScript:void (0)"  @click="orderDetail(index)" class="zjzz-buylist-det">
								<img :src="order.image"/>
								<div class="zjzz-buylist-gdetail">
									<span class="zjzz-buylist-gtit1">{{order.title}}</span>
									<span class="zjzz-buylist-gmoney">
									<i class="zjzz-buylist-gm1">￥{{order.price}}</i>
									<i class="zjzz-buylist-gm2">x{{order.num}}</i>
								</span>
								</div>
							</a>
						</div>

						<span class="zjzz-buylist-goodsm">
							<i class="zjzz-buylist-gm3"></i>
<!--							<i class="zjzz-buylist-gm3">共{{order.food.length}}件</i>-->
							<i v-if="order.length>0">应付总额：<i class="zjzz-buylist-gm4" >￥{{totalMoney}}</i></i>
							<i  v-if="orderWaitPay.food[index].title">应付总额：<i class="zjzz-buylist-gm4" >￥{{accMul(order.price,order.num)}}</i></i>
						</span>
						<div class="zjzz-buylist-btn">
							<a v-if="order.length>0" href="javascript:void (0)" @click="payOrder1(index)" class="zjzz-buylist-btn3">去付款</a>
							<a v-if="orderWaitPay.food[index].title" href="javascript:void (0)" @click="payOrder2(index)" class="zjzz-buylist-btn3">去付款</a>
							<a href="javascript:void (0)" @click="deleteOrder(index)" class="zjzz-buylist-btn1">取消订单</a>
						</div>
					</div>
				</div>
			</div>
			<div v-else class="zjzz-buylist-mid" style="    position: absolute;text-align: center;margin-bottom: 30px" >
				<div class="not_data">
					{{message}}
				</div>
				<div>
					<a href="/index" class="goShopping">去购物</a>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="/js/vue.min.js"></script>
	<script type="text/javascript" src="/js/axios.min.js"></script>
	<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="/js/sessionStorage.js"></script>
	<script>
		new Vue({
			el: "#app",
			data: {
				orderWaitPay: {
						"food": [
							{
								"id": 0,
								"sid": "",
								"title": "",
								"price": 0,
								"priceOff": 0,
								"image": "",
								"describes":"",
								"num":0,
								"aid":0
							}
						],
					"key":[
						{

						}
					],
						"orderData": {
								"waitPay": 0,
								"waitDeliver": 0,
								"waitTake": 1,
								"waitComment": 0
							}
					},

				"totalMoney":0,
				"message":""
			},
			methods: {
				//获取订单
				init() {
					axios.get(`/orders/orderwaitpay`).then(response => {
						console.log(response.data)
						this.orderWaitPay = response.data;

						// $(this.orderWaitPay).each( (index,item)=> {
						// 	//对象中的属性修改
						// 	this.$set(this.orderWaitPay[index],'orderExpireStr',this.parseDate(item.orderExpire))
						// 	Object.assign(this.orderWaitPay,{});
						// })
						this.computerMoney();
					}).catch(err => {
						console.log(err);
						// this.getOrderStatusNum();
						// this.orderWaitPay = [];
						this.message = err.response.data.message;
					})
				},
				computerMoney() {

					let index = this.orderWaitPay.food.length;
					let totalMoney = this.totalMoney;

					for (let i = 0; i < index; i++) {
						let cartItem = this.orderWaitPay.food[i];

						for (let j = 0; j < cartItem.length; j++) {
							if (cartItem.length>0){
								let money = accMul(cartItem[j].price, cartItem[j].num);
								totalMoney = accAdd(totalMoney, money)
							}
						}
					}
					this.totalMoney = totalMoney;
				},
				orderDetail(index){
					let key = this.orderWaitPay.key[index]
					let aid = 0;
					if(this.orderWaitPay.food[index].length>0)
					{
						aid = this.orderWaitPay.food[index][0].aid
					}else {
						aid = this.orderWaitPay.food[index].aid
					}

					localStorage.setItem(redisKey,key);
					localStorage.setItem(aidKey,aid);

					location.href="/user/aorderdetails"
				},
				// 多个支付
				payOrder1(index){
					axios.get(`/orders/multipleorder?aId=${this.orderWaitPay.food[index][0].aid}&key=${this.orderWaitPay.key[index]}`).then(response=>{
						console.log(response.data)
						if (response.data){
							alert("支付成功")
							location.href= "/user/checkwaitdeliver";
						}
					}).catch(err=>{
						console.log(err);
					})
				},
				// 单个支付
				payOrder2(index){
					axios.get(`/orders/singleOrder?aId=${this.orderWaitPay.food[index].aid}&key=${this.orderWaitPay.key[index]}`).then(response=>{
						console.log(response.data)
						if (response.data){
							alert("支付成功")
							location.href= "/user/checkwaitdeliver";
						}
					}).catch(err=>{
						console.log(err);
					})
				},

				//删除订单
				deleteOrder(index){
					if(confirm('请确认删除订单么')){
						let key = this.orderWaitPay.key[index]

						console.log(key)
						axios.delete(`/orders/deleteWaitOrder?key=${key}`).then(response => {
							console.log(response);
							if (response.data && this.orderWaitPay.food.length!=1){
								this.orderWaitPay.food.splice(index,1);
							}else {
								this.init();
							}
						}).catch(err => {
							this.orderWaitPay = [];
							console.log(err);
						})
					}
				}
			},

			created() {
				this.init();
			}
		});
	</script>
	<script>
		//乘法
		function accMul(arg1,arg2){
			let m=0,s1=arg1.toString(),s2=arg2.toString();
			try{m+=s1.split(".")[1].length}catch(e){}
			try{m+=s2.split(".")[1].length}catch(e){}
			return Number(s1.replace(".",""))*Number(s2.replace(".",""))/Math.pow(10,m)
		}

		//除法
		function accDiv(arg1,arg2){
			let t1=0,t2=0,r1,r2;
			try{t1=arg1.toString().split(".")[1].length}catch(e){}
			try{t2=arg2.toString().split(".")[1].length}catch(e){}
			with(Math){
				r1=Number(arg1.toString().replace(".",""))
				r2=Number(arg2.toString().replace(".",""))
				return accMul((r1/r2),pow(10,t2-t1));
			}
		}

		//加法
		function accAdd(arg1,arg2){
			let r1,r2,m;
			try{r1=arg1.toString().split(".")[1].length}catch(e){r1=0}
			try{r2=arg2.toString().split(".")[1].length}catch(e){r2=0}
			m=Math.pow(10,Math.max(r1,r2))
			return (arg1*m+arg2*m)/m
		}
		//减法
		function Subtr(arg1,arg2){
			let r1,r2,m,n;
			try{r1=arg1.toString().split(".")[1].length}catch(e){r1=0}
			try{r2=arg2.toString().split(".")[1].length}catch(e){r2=0}
			m=Math.pow(10,Math.max(r1,r2));
			n=(r1>=r2)?r1:r2;
			return ((arg1*m-arg2*m)/m).toFixed(n);
		}
	</script>
</html>
